/*
    New User Signup stylesheet
    ==========================
*/


/*noinspection CssRedundantUnit*/
@media all {
    [data-section="shared-ui-new-user-signup-form"] {
        display: block;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }


    [data-section="shared-ui-new-user-signup-form"] [data-section-item-type="center-glide"]{
        display: block;
        text-align: center;
    }

    [data-section="shared-ui-new-user-signup-form"] [data-section-item-type="left-glide"]{
        display: block;
        text-align: left;
    }

    [data-section="shared-ui-new-user-signup-form"] [data-section-item-type="form"]{
        display: inline-block;
        text-align: center;
    }


    [data-section="shared-ui-new-user-signup-form"] [data-section-item-type="field"]{
        display: block;
    }

    [data-section="shared-ui-new-user-signup-form"] [data-section-item-type="field"] label{
        display: block;
        text-align: left;
        margin-top: 1.5rem;
        margin-bottom: 0rem;

        user-select: none;
    }

    [data-section="shared-ui-new-user-signup-form"] [data-section-item-type="field"] input{
        display: block;
        width:   15rem;
        padding: 0.5rem 1rem 0.5rem 2rem;
    }

    [data-section="shared-ui-new-user-signup-form"] [data-section-item-type="field"] [data-section-item-type="field-icon"]{
        position: absolute;
        padding-top: 0.5rem;
        padding-left: 0.5rem;
        user-select: none;
    }

    [data-section="shared-ui-new-user-signup-form"] [data-item-type="signup-submit-button-div"]{
        display: inline-block;
        margin-top: 1.5rem;
        margin-bottom: 2rem;

        background-color: #0a53be;
        color: #ffffff;

        border-radius: 9px;
        padding: 1rem 2rem;
        width: 8rem;

        cursor: pointer;
        user-select: none;
    }

}