@font-face {
    font-family: 'IBM Plex Sans Light';
    src: url('/resources/vendor/common-fonts/ibm-plex-sans-3.2/IBMPlexSans-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'IBM Plex Sans';
    src: url('/resources/vendor/common-fonts/ibm-plex-sans-3.2/IBMPlexSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'JetBrains Mono NL';
    src: url('/resources/vendor/common-fonts/jetbrains-mono-2.304/fonts/ttf/JetBrainsMonoNL-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'MesloLGL';
    src: url('/resources/vendor/common-fonts/meslo-lg-1.2.1/dist/MesloLGL-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'MesloLGM';
    src: url('/resources/vendor/common-fonts/meslo-lg-1.2.1/dist/MesloLGM-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'MesloLGS';
    src: url('/resources/vendor/common-fonts/meslo-lg-1.2.1/dist/MesloLGS-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Monda';
    src: url('/resources/vendor/common-fonts/monda-2012/Monda-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Noto Sans';
    src: url('/resources/vendor/common-fonts/noto-sans-2.007-with-2016-cherrypick/NotoSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Noto Sans Light';
    src: url('/resources/vendor/common-fonts/noto-sans-2.007-with-2016-cherrypick/NotoSans-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Open Sans';
    src: url('/resources/vendor/common-fonts/open-sans-2021/static/OpenSans/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto';
    src: url('/resources/vendor/common-fonts/roboto-2017/Roboto-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Ubuntu';
    src: url('/resources/vendor/common-fonts/ubuntu-font-family-0.83/Ubuntu-R.ttf') format('truetype');
}