/*!
    Green Layout Stylesheet
    =======================
*/


/*noinspection CssRedundantUnit*/
@media all {
    html, body{
        height:  100%;
        width:   100%;
        margin:  0px;
        padding: 0px;

        overflow:   auto;
        overflow-x: hidden;
    }

    img{
        border-style: none;
        margin:       0px;
        padding:      0px;
    }

    tr, td{
        margin:  0px;
        padding: 0px;
    }

    /* ===================== */

    .nobr{
        white-space: nowrap;
    }

    nobr{
        white-space: nowrap;
    }

    /* ===================== */

    .clearfix {
        overflow: auto;
    }

    .clearfix::after {
        content: "";
        clear:   both;
        display: table;
    }

    /* ____________________________________________________________ */


    html, body{
        background-color: #6ee7b7;
    }

    #banner-area{
        background-color: #10b981;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 20ex;
    }

    #content-area{
        background-color: #34d399;
        position: absolute;
        top: 20ex;
        left: 0px;
        width: 100%;
    }

    #plate{
        background-color: #6ee7b7;
        margin: 2ex 5em;
        border-radius: 7px;
    }

    #content{
        padding: 2ex 5em;
    }
}